In [1]:
print("Extracting Tables From ccmt website")

Extracting Tables From ccmt website

In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [9]:
!pip install html5lib lxml

Requirement already satisfied: html5lib in d:\projects\env\lib\site-packages (1.1)
Requirement already satisfied: lxml in d:\projects\env\lib\site-packages (6.0.2)
Requirement already satisfied: six>=1.9 in d:\projects\env\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in d:\projects\env\lib\site-packages (from html5lib) (0.5.1)

In [4]:
# using pandas
dfs = pd.read_html('https://admissions.nic.in/CCMT/Applicant/Report/orcrreport.aspx?enc=Nm7QwHILXclJQSv2YVS+7oyfr3QTMnD485kebzU4RQjHPShCZV1JNhAqXFSs1WVi')

In [5]:
dfs[0].head()

,Sr.No,Round,Institute,PG Program,Group,Category,Max GATE Score,Min GATE Score
0,1,Round 1,"National Institute of Technology Karnataka, Su...",Communication Engineering and Networks,G1,OBC-NCL,538,509
1,2,Round 1,"National Institute of Technology Karnataka, Su...",Communication Engineering and Networks,G1,EWS,541,529
2,3,Round 1,"National Institute of Technology Karnataka, Su...",Environmental Science & Technology,G1,OPEN,480,397
3,4,Round 1,"National Institute of Technology Karnataka, Su...",Environmental Engineering,G1,ST,313,298
4,5,Round 1,"National Institute of Technology Karnataka, Su...",Geotechnical Engineering,G1,EWS,382,363

In [6]:
dfs[0].to_csv('college_2025_data.csv', index = False)